.App{
    background-color: rgb(148, 188, 188);
    width: 100%;
   min-height:100vh ;
    display: flex;
    align-items: center;
    justify-content: center;
  /* padding: 5rem 0 5rem 0; */
  padding-top: 1rem;

    
    
}
.container{
    background-color: white;
    width: 70%;
    min-height:100vh ;
    border-radius: 5px;
   

}
h3{
    font-size: 24px;
    padding: 1rem;
    color: darkslategrey;
}